<div class="main-panel">
  <div class="content-wrapper" style="background-color :white;width:108rem;">
    <div class="page-header">
      <h3 class="page-title">Manage Table Status</h3>
    </div>

    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Table Status</h4>
            <div class="row start-end" style="display:flex">
              <div class="col-md-5"></div>
              <div class="col-md-6">
                <input id="searchInputTableStatus" type="text" class="form-control" placeholder="Search"
                  [(ngModel)]="filterObj.searchName">
              </div>
              <div class="col-md-1">
                <select class="form-control" id="searchPageTableStatus" [(ngModel)]="filterObj.pageSize">
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div><br>
            <table class="table">
              <thead>
                <tr>
                  <th><b>
                      <h6>Table Name</h6>
                    </b></th>
                  <th><b>
                      <h6>Table No</h6>
                    </b></th>
                  <th><b>
                      <h6>Table Status</h6>
                    </b></th>
                </tr>
              </thead>
              <tbody
                *ngFor="let table of getAllTables | paginate: { itemsPerPage: filterObj.pageSize, currentPage: p,totalItems: count}">
                <tr>
                  <td>{{table.tableName}}</td>
                  <td>{{table.tableNo}}</td>
                  <td><a class=" badge badge-danger" style="text-decoration: none;" (click)="onUpdateStatus(table._id)"
                      *ngIf="table.activeStatus=='inactive'">{{table.activeStatus}}</a>
                    <a class="badge badge-success" style="text-decoration: none;" (click)="onUpdateStatus(table._id)"
                      *ngIf="table.activeStatus=='active'">{{table.activeStatus}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>