/* You can add global styles to this file, and also import other style files */
.restu-menu-item.menu-v2 {
    border-bottom: 1px solid #ebebeb !important;
    padding-top: 15px !important;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}