/* [type=submit]:not(:disabled),
button:not(:disabled) :hover{
  cursor: pointer;
  color: #94b800 !important;
  border-color: #94b800 !important;
} */
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  color: #94b800 !important;
  border-color: #000 !important;
}