<div class="container">
  <a class="card1" routerLink="../totalOrders">
    <h3>Total Orders</h3>
    <p class="small">Total {{countOrders}} orders.</p>
    <div class="go-corner">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  <a class="card1" routerLink="../category">
    <h3>Total Category</h3>
    <p class="small">Total {{countCategory}} categories.</p>
    <div class="go-corner">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  <a class="card1" routerLink="../subCategory">
    <h3>Total Subcategory</h3>
    <p class="small">Total {{countSubCategory}} subcategories.</p>
    <div class="go-corner">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  <a class="card1" routerLink="../item">
    <h3>Total Item</h3>
    <p class="small">Total {{countItem}} items.</p>
    <div class="go-corner">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
</div>
<div class="container">
  <a class="card1" routerLink="../totalOrders">
    <h3>Total Table</h3>
    <p class="small">Total {{countTable}} table.</p>
    <div class="go-corner">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  <a class="card1">
    <h3>Total Customer</h3>
    <p class="small">Total {{countCustomers}} customers.</p>
    <div class="go-corner">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  <a class="card1" routerLink="../manageUsers">
    <h3>Total Users</h3>
    <p class="small">Total {{countUsers}} users.</p>
    <div class="go-corner">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  <a class="card1" routerLink="../tableReservation">
    <h3>Total Table Reservation</h3>
    <p class="small">Total {{countTableReserve}} table reserved.</p>
    <div class="go-corner">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>

</div>
<!-- <div class="container">
  <a class="card1" routerLink="../likes">
    <h3>Total Likes</h3>
    <p class="small">Total {{countLikes}} Like.</p>
    <div class="go-corner">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>

</div> -->