<!DOCTYPE html>
<html lang="en">
<div class="login-box">
  <h2>Reset Password</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onReset()">
    <div class="user-box">
      <input type="password" name="password" formControlName="password" required>
      <span *ngIf="password && password.invalid && password.touched">
        <div class="text-light text-end" *ngIf="password?.errors?.['required']">* Password is required</div>
      </span>
      <label>Enter password</label>
    </div>
    <div class="user-box">
      <input type="password" name="confirmPassword" formControlName="confirmPassword" required>
      <span *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched">
        <div class="text-light text-end" *ngIf="confirmPassword?.errors?.['required']">* Confirm Password is
          required</div>
      </span>
      <label>Enter confirm password</label>
    </div>
    <div class="text-light text-end" *ngIf="resetForm.get('confirmPassword')?.hasError('matchValues')">
      *Passwords do not match
    </div>
    <!-- <span *ngIf="passwordMismatch" style="color:white">{{passwordMismatch}}</span>-->
    <p>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button type="submit" class="login_btn">Submit</button>
    </p><br>
    <span class="text-light text-center" style="color:white" *ngIf="password?.errors?.['pattern']">Password should have
      atleast 1
      uppercase, 1
      lowercase, 1 digit and 1 special character and should have atleast 8 characters </span>
  </form>
</div>