<!DOCTYPE html>
<html lang="en">
<div class="login-box">
  <h2>Forgot Password</h2>
  <form [formGroup]="forgotForm" (ngSubmit)="onForgot()">
    <div class="user-box">
      <input type="email" name="emailForgot" formControlName="emailForgot" required>
      <span *ngIf="emailForgot && emailForgot.invalid && emailForgot.touched">
        <div class="text-light text-end" *ngIf="emailForgot?.errors?.['required']">*Email is required</div>
      </span>
      <label>Enter Email</label>
    </div>
    <p>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button type="submit" [disabled]="forgotForm.invalid" class="login_btn"
        [disabled]="forgotForm.invalid">Submit</button>
    </p>
  </form>
</div>