<div class="overlay-search citrus-theme">
    <button type="button" class="overlay-close"><i class="pe-7s-close"></i></button>
    <div class="header-search-content">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-12 col-md-8">
                    <h4 class="search-title">What are you looking for?</h4>
                    <form action="#" method="get" class="searchform">
                        <div class="input-group">
                            <input type="text" class="form-controller" placeholder="Your seach item here" />
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="fa fa-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <h5 class="search-footer-title">
                        Press <span>enter</span> to confirm search term
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="error-page bg-cover" style="background-image: url(assets/images/404-bg.jpg);">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 text-center">
                <h2 class="error-title">404 Not Found</h2>
                <h3 class="error-subtitle color-citrus">Something appears to be missing</h3>
                <p class="error-desc">We're sorry for the inconvenience, please use the button below to go back</p>
                <!-- <a href="home" class="go-back-btn">Go back</a> -->
            </div>
        </div>
    </div>
</section>