<div class="overlay-search citrus-theme">
    <button type="button" class="overlay-close"><i class="pe-7s-close"></i></button>
    <div class="header-search-content">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-12 col-md-8">
                    <h4 class="search-title">What are you looking for?</h4>
                    <form action="#" method="get" class="searchform">
                        <div class="input-group">
                            <input type="text" class="form-controller" placeholder="Your seach item here" />
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="fa fa-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <h5 class="search-footer-title">
                        Press <span>enter</span> to confirm search term
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="restaurant-banner overlay-bg pd-t-175-b-90"
    style="background-image: url(assets/images/restaurant/banner/banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs text-center color-white citrus-theme">
                    <span class="first-item">
                        <a href="http://localhost/houserent-v2/">Home</a>
                    </span>
                    <span class="separator"><i class="fa fa-angle-right"></i></span>
                    <span class="last-item">About Us</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-mission pd-tb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-7 text-center full-content">
                <h2 class="section-title no-border">Our Mission</h2>
                <p class="sub-section-title v-2">We invite you to join us on this journey and be part of our culinary
                    adventure. Whether it's a special occasion, a casual gathering, or a simple meal, we are here to
                    create moments that you'll cherish long after the last bite..</p>
                <div class="mrb-45"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/restaurant/our-mission-img.jpg" alt="Mission Image" />
            </div>
            <div class="col-md-6">
                <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
                        <br><br>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                        velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                        quaerat voluptatem. <br><br>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                        reprehenderit qui in ea voluptate velit esse quam nihil</p> -->
                <p>At Eatry, our mission is to provide an exceptional dining experience to our valued
                    customers. We are dedicated to creating an atmosphere that is warm, welcoming, and conducive to
                    memorable moments shared with friends, family, and loved ones.
                    <br><br>
                    Our core values drive us to consistently deliver excellence in every aspect of our restaurant, from
                    the quality of our ingredients to the professionalism of our staff. We aim to exceed customer
                    expectations by providing exceptional service, delectable cuisine, and a comfortable ambiance.
                    <br><br>
                    Our mission is to continuously improve and innovate, providing an exceptional dining experience that
                    exceeds expectations.
            </div>
        </div>
    </div>
</section>

<section class="about-mission pd-b-90 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-7 text-center full-content">
                <h2 class="section-title no-border">Our Service</h2>
                <p class="sub-section-title v-2">Indulge your taste buds with our carefully crafted menu, designed to
                    offer a diverse selection of flavors and culinary delights.</p>
                <div class="mrb-45"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-grid">
                    <figure class="service-thumb">
                        <img src="assets/images/restaurant/service/service-4.jpg" alt="Service" />
                    </figure>
                    <h3 class="service-grid-title text-center">
                        Atmosphere
                    </h3>
                    <p class="service-content text-center">We believe that the ambiance plays a crucial role in
                        enhancing the overall dining experience. Our restaurant is designed to create a welcoming and
                        comfortable setting, with tasteful decor, soothing lighting, and carefully curated music. .</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-grid">
                    <figure class="service-thumb">
                        <img src="assets/images/restaurant/service/service-2.jpg" alt="Service" />
                    </figure>
                    <h3 class="service-grid-title text-center">
                        Community Engagement
                    </h3>
                    <p class="service-content text-center">We are committed to being an active and responsible member of
                        our community. We believe in giving back and supporting local initiatives, organizations, and
                        charitable causes..</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-grid">
                    <figure class="service-thumb">
                        <img src="assets/images/restaurant/service/service-3.jpg" alt="Service" />
                    </figure>
                    <h3 class="service-grid-title text-center">
                        Culinary Excellence
                    </h3>
                    <p class="service-content text-center">Our talented team of chefs combines passion, creativity, and
                        expertise to craft a menu that tantalizes the taste buds. From classic favorites to innovative
                        culinary creations, our dishes are carefully curated to provide a delightful gastronomic
                        experience.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-team pd-tb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-7 text-center full-content">
                <h2 class="section-title no-border">Meet Our Team</h2>
                <p class="sub-section-title v-2">Our chef brings a wealth of experience, creativity, and dedication to
                    the art of cooking, ensuring that every dish served is a masterpiece of flavor and presentation..
                </p>
                <div class="mrb-45"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="team-item">
                    <figure class="team-thumb">
                        <img src="assets/images/restaurant/team/team-1.png" alt="team thumb" />
                    </figure>
                    <div class="team-content text-center">
                        <h2 class="member-name">Halie</h2>
                        <!-- <p class="member-deseg v-2">Designer</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-item">
                    <figure class="team-thumb">
                        <img src="assets/images/restaurant/team/team-2.png" alt="team thumb" />
                    </figure>
                    <div class="team-content text-center">
                        <h2 class="member-name">Hante</h2>
                        <!-- <p class="member-deseg v-2">Designer</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-item">
                    <figure class="team-thumb">
                        <img src="assets/images/restaurant/team/team-3.png" alt="team thumb" />
                    </figure>
                    <div class="team-content text-center">
                        <h2 class="member-name">Lam Hoang</h2>
                        <!-- <p class="member-deseg v-2">Designer</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-item">
                    <figure class="team-thumb">
                        <img src="assets/images/restaurant/team/team-4.png" alt="team thumb" />
                    </figure>
                    <div class="team-content text-center">
                        <h2 class="member-name">Johnson</h2>
                        <!-- <p class="member-deseg v-2">Designer</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>